<h1>Rules</h1>

<%= link_to "Add a new rule", new_rule_url %>

<% @rule.each do |rule| %>
<hr>
<p><%= link_to rule.title, rule_path(rule) %> <%= rule.body %></p>

<%= link_to "Edit", edit_rule_path(rule.id) %>
<%= link_to "Delete", rule_path(rule), data: { turbo_method: :delete, turbo_confirm: "Are you sure, that you want to delete this Rule?"}  %>

<% end %>