<!DOCTYPE html>
<html>
  <head>
    <title>LearnEnglish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Register", new_user_registration_path %>
      <%= button_to "Login", new_user_session_path %>
    <% end %>

    <%= link_to "Learn Words", words_path %>
    <%= link_to "Grammar", rules_path %>
    <%= link_to "Texts", texts_path %>


    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
